{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ExpressionStatement > CallExpression > Identifier[name=/^eslint-disable/]",
        "message": "Использование eslint-disable запрещено."
      }
    ]
  }
}
